body{
    background-color: lightblue;
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    background-color: white;
    border-radius: 5px;
    width: 20%;  
    justify-content: center;
    padding: 30px;
    margin: auto; 
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
    gap: 10px; 
}

h2 {
    color: rgb(0, 126, 167);
    font-size: 30px;
    margin: 0px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;

}

input[type="text"] {
    width: 250px;
    height: 25px;
    padding: 5px;
    margin: 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #5e5e5e;
    outline: none;
    text-align: center;
}

.Credenciales {
    display: flex;
    flex-direction: column;
    gap: 10px; 
}

.group {
    position: relative;
    display: flex;
    align-items: center;
}

.group i {
    position: absolute;
    top: 20px;
    font-size: 20px; 
    padding: 10px ;
}

.group input {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 10px;
}

#imgLogo{
    width: 200px;
    height: 200px;
    margin: -10px;
}

#btnIniciarSesion{
    border-radius: 1%;
    width: 250px;
    height: 40px;
    background-color: #003249;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-style: none;
}

#btnIniciarSesion:hover{
    background-color: gray;
}

.Botones{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
}

a {
    text-decoration: none;
    cursor: pointer;
    position: relative;
    color: #5e5e5e;
}

a::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #5e5e5e;
    /*Animacion de derecha a izquierda*/
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;
}

a:hover:after{
    transform-origin: left;
    transform: scaleX(1);
}

@media(max-width: 600px){
    .container{
        display: flex;
        width: 50%;
        padding: 40px;
        flex-direction: column;
        align-items: center;
        gap: 10px; 
    }
}